<header class="center">
  <h1 class="white-text">
    {{ site_name }}
  </h1>
  <h4 class="white-text">
    {{ site_slogan }}
  </h4>
</header>

<nav class="blue-grey darken-3 z-depth-3">
  <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home"> {{ site_name }} home</a>
</nav>

<main class="blue-grey darken-1 grey-text text-lighten-3">
  <div class="row">
	  <div class="col s12 m4 l3 blue-grey darken-2 z-depth-0"> <!-- sidebar -->
		  {{ page.sidebar_first }}
	  </div>
    <div class="col s12 m8 l9 blue-grey darken-2 z-depth-0"> <!-- content -->
  	  {{ page.content }}
    </div>
  </div>
</main>

<footer class="footer blue-grey darken-3 white-text">
  <h6>Blogifier theme</h6>
    <h6>&copy; Aniket Dwivedi</h6>
		  {% if page.footer %}
			  {{ page.footer }}
		  {% endif %}
  </footer>
</body>
